
# Python
*.py[cod]
__pycache__/

# Virtualenv
venv/
.venv/

# Django
db.sqlite3
*.sqlite3
media/
static/
.env

# Docker
*.pid
*.db
*.tar
*.gz
*.lock

# IDEs
.vscode/
.idea/

# Testing
.coverage
htmlcov/
pytest_cache/
